click~=8.1.7
jmespath~=1.0.1
pydantic~=2.1.1
pykebab~=0.9.3
requests~=2.32.3
urllib3~=2.2.2
six~=1.16.0
strictyaml~=1.7.3
tqdm~=4.66.4
platformdirs~=3.10.0
certifi~=2024.7.4
mcap~=1.1.1
mcap-protobuf-support~=0.5.1
mcap-ros1-support~=0.7.1
mcap-ros2-support~=0.5.3
cos-ruleengine==0.1.34
chardet~=5.2.0
pygtail~=0.14.0
psutil~=5.9.8
rosbags~=0.10.0
boto3~=1.34.100
numpy==1.26.4

# --extra-index-url https://buf.build/gen/python
coscene_io_coscene_openapi_community_nipunn1313_mypy
coscene_io_coscene_openapi_community_nipunn1313_mypy_grpc
coscene_io_coscene_openapi_grpc_python
