name: CI
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: setup-go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x
          check-latest: true
          cache: true
      - name: Set up netrc
        uses: extractions/netrc@v2
        with:
          machine: buf.build
      - name: Set up github netrc
        uses: extractions/netrc@v2
        with:
          machine: github.com
          username: ${{ secrets.GH_PACKAGES_ORG_USERNAME }}
          password: ${{ secrets.GH_PACKAGES_ORG_TOKEN }}
      - name: ci
        run: make ci
